<!-- Contact -->
<section id="contact">
  <div class="inner">
    <section>
      <form method="post" action="https://ksa-form.herokuapp.com/website_form">
        <div class="fields">
          <div class="field half">
            <label for="name">Naam</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Bericht</label>
            <textarea name="message" id="message" rows="6"></textarea>
          </div>
        </div>
        <!--CAPTCHA-->
        <div class="g-recaptcha" data-sitekey="6Lfoo98dAAAAAI_9L5i8tU0oU2jeQkpUFYCFRBg1"></div>
        <br/>
        <!--END CAPTCHA-->
        <ul class="actions">
          <li><input type="submit" value="Verzenden" class="primary" /></li>
          <li><input type="reset" value="Reset" /></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="#">info@ksadebiekorf.be</a>
        </div>
      </section>
      <!--section>
        <div class="contact-method">
          <span class="icon solid alt fa-phone"></span>
          <h3>Telefoon</h3>
          <span>+32 491 14 41 18</span>
        </div>
      </section-->
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-home"></span>
          <h3>Adres</h3>
          <span>Blauwelaan 8<br />
          8420 Vosseslag<br /></span>
        </div>
      </section>
    </section>
  </div>
</section>