<nav id="menu">
  <ul class="links">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/leiding.html">Leiding</a></li>
    <li><a href="/activiteiten.html">Activiteiten</a></li>
    <li><a href="/verhuur.html">Verhuur</a></li>
    <li><a href="/documenten.html">Documenten</a></li>
    <li><a href="/tokshop.html">Tokshop</a></li>
  </ul>
  <!-- <ul class="actions stacked">
    <li><a href="#" class="button primary fit">Get Started</a></li>
    <li><a href="#" class="button fit">Log In</a></li>
  </ul> -->
</nav>